<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typography</string>
	<key>uuid</key>
	<string>50C2D564-8B4C-47F8-A6B0-9F20DA44A4F0</string>
</dict>
</plist>
